<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTful Calculations</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="js/client.js"></script>
</head>
<body class="panel-body">
    @RenderBody()
</body>
</html>
